*{
    margin: 0;
}

#container {
    width: 1024px;
    margin-left: 300px;
}
#header {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 1024px; 
}

#header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header a:hover {
    background: #ddd;
    color: black;
}

.main {
    margin-top: 30px; 
}

#header {
    height: 70px;
    background-color: rgb(17, 85, 85);
}

#atas {
    height: 750px;
    background-color: rgb(98, 41, 151);
}

#bawah {
    height: 750px;
    background-color: bisque;
}

#footer {
    height: 750px;
    background-color: brown;
}